<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" type="text/css" href="/style.css">
<title> Mind Minds</title>
</head>


        <ol>
          <li><img src="images/mm.jpg" style="margin-left:-3%;"align="left"></li>
          <li><b><a href='/'>Home</a></b></li>
        </ol>
  

<p>Minds Minds Training & Consultancy</p>
<p><%=message%></p>

<form action="/login" method="POST">
<p>
<input class="login" type="text" name="username" value="Username"><br>
<input class="login" type="password" name="password" value="Password"><br>
<input class="submit" type="submit"><br>
</p>
<br>
</form>

<table>
	<thead>
	<th colspan="5";>Student & Consultancy Team Information </th></thead>
	<tbody>
	<tr></tr>
	<td>Name</td><td>GitHub Link</td><td>Blog or other link</td>
	<tr></tr>
	<td>Mined Minds Consultancy</td><td><a href="https://github.com/Mined-Minds-Consulting/MMCNW">Mined Minds Consultancy</a></td><td><a href="http://minedminds.github.io/">Mined Minds Homepage</a></td>
	<tr></tr>
	<td>Jonathan Graham</td><td><a href="https://github.com/jonathangraham?tab=repositories">Jonathan Graham</a></td><td></td>
	<tr></tr>
	<td>Amanda Laucher</td><td>Need to Find Github Link</td><td></td>
	<tr></tr>
	<td>Joseph Mckenzie</td><td><a href="https://github.com/josephmckenzie?tab=repositories">Joseph Mckenzie</a></td><td></td>
	<tr></tr>
	<td>Rich Jackowski</td><td><a href="https://github.com/casper22875?tab=repositories">Richard Jackowski</a></td><td></td>
	<tr></tr>
	<td>Daniel Mcneil</td><td><a href="https://github.com/smellydog40?tab=repositories">Daniel Mcneil</a></td><td></td>
	<tr></tr>
	<td>Angie Visnesky</td><td><a href="https://github.com/VixMcNasty?tab=repositories">Angie Visnesky</a></td><td></td>
	<tr></tr>
	<td>Ann Morris</td><td><a href="https://github.com/mrsbuddhaman?tab=repositories">Ann Morris</a></td><td></td>
	<tr></tr>
	<td>Heather Shockney</td><td><a href="https://github.com/hshockney?tab=repositories">Heather Shockney</a></td><td></td>
	<tr></tr>
	<td>Marvin Laucher</td><td><a href="https://github.com/marv070?tab=repositories">Marvin Laucher</a></td><td></td>
	</tbody>
	</table>
</body>







<br><br><br><br><br>
<br><br>


<footer>
<div id="footerBar1">
 
  <p class=footer><b>Mined Minds.© Copyright-2016<br></a></b></p>
​</div> 
</footer>






</html>
