<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" type="text/css" href="/style.css">
<title> Mind Minds</title>
</head>


        <ol>
          <li><img src="images/mm.jpg" style="margin-left:-3%;"align="left"></li>
          <li><b><a href='/'>Home</a></b></li>
        </ol>
  
<body>
<p>Minds Minds Training & Consultancy</p>
<p><%=message%></p>

<form action="/login" method="POST">
<p>
<input class="login" type="text" name="username" value="Username" onFocus="this.value=''" ><br>
<input class="login" type="password" name="password" value="Password" onFocus="this.value=''" ><br>
<input class="submit" type="submit"><br>
</p>
<br>
</form>

<table>
	<thead>
	<th colspan="5";>Student & Consultancy Team Information </th></thead>
	<tbody>
	<tr></tr>
	<td style="color:green;font-size:20px ">Name</td><td style="color:red">GitHub Link</td><td style="color:red">Blog or other link</td>
	<% csv2.each do |row|%>
	

	
	<tr></tr>
	<td><%=row[0]%></td><td><%=row[1]%></td><td><%=row[2]%></td>
	
	<% end %>	
	
	</tbody>
	</table>
	
</body>







<br><br><br><br><br>
<br><br>


<footer>
<div id="footerBar1">
 
  <p class=footer><b>Mined Minds.© Copyright-2016<br></a></b></p>
​</div> 
</footer>






</html>